[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/openal-soft"]
	path = lib/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "lib/freealut"]
	path = lib/freealut
	url = https://github.com/vancegroup/freealut
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/vorbis"]
	path = lib/vorbis
	url = https://github.com/xiph/vorbis
[submodule "lib/ogg"]
	path = lib/ogg
	url = https://github.com/xiph/ogg
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/LuaDist/glew
[submodule "lib/portaudio"]
	path = lib/portaudio
	url = git://git.assembla.com/portaudio.git
[submodule "lib/entt"]
	path = lib/entt
	url = https://github.com/skypjack/entt
