language: cpp
sudo: false
notifications:
  email: false

os: linux
dist: bionic

# cache:
#   directories:
#     - ${TRAVIS_BUILD_DIR}/lib

matrix:
  # include:
    # - env:
    #     - COMPILER=clang++
    #     - CXXFLAGS="-std=c++1z"
      # os: osx
      # osx_image: xcode11.3
      # addons:
      #   homebrew:
      #     packages:
      #       - sdl2
      #       - libvorbis
      #       - lua
      #       - freealut
      #       - freetype
      #     update: true

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          update: true
          packages:
            - g++-7
            - libgl1-mesa-dev
            - pkg-config
            - libsdl2-dev
            - libopenal-dev
            - libalut-dev
            - libvorbis-dev
            - liblua5.3-dev
            - libjemalloc-dev
            - libjemalloc2
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"

before_install:
  - eval "${MATRIX_EVAL}"

before_script:
  - cd "${TRAVIS_BUILD_DIR}"
  - mkdir build && cd build
  - cmake ..

script:
  - cmake --build . -- -j 2
